@layer reset, init, design;

@import url(./normalize.css) layer(reset);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer init {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3B3E40, #3b3e40);
        --header-text-color: light-dark(#FFFFFF, #FFFFFF);
        --primary-color: light-dark(#66D4D4, #2b5a5a);
        --secondary-color: light-dark(#FFFFFF, #000000);
        --text-color: light-dark(#000000, #FFFFFF);
        --bg-color: light-dark(#ffffff, #000000);

    }

    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
        color: var(--text-color);
    }
}

@layer design {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3B3E40, #3b3e40);
        --header-text-color: light-dark(#FFFFFF, #FFFFFF);
        --primary-color: light-dark(#66D4D4, #66D4D4);
        --secondary-color: #FFFFFF;
        --text-color: light-dark(#ffffff, #000000);
        --bg-color: light-dark(#000000, #ffffff);

    }

    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
        color: var(--text-color);

    }

    body {
        background-color: var(--bg-color);
    }

    h1 {
        font-size: 4rem;
        font-weight: extra-bold;
    }

    h2 {
        font-size: 3rem;
        font-weight: extra-bold;
    }

    main {
        padding: 1rem;
        max-width: 960px;
        margin: 0 auto;
        flex: 1;
    }

    .header {
        background-image: url("../images/header-2560w.webp");
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.5;
        padding: 1em;
    }

    .img-fluid {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .img-block {
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin: 0;
    }

    .img-block__caption {
        text-align: center;
        padding-top: 3vh;
    }

    .header__nav {
        text-align: center;
        margin-top: 4vh;
    }

    .header__link {
        display: inline-block;
        margin-top: 1em;
    }

    .header__image {
        text-align: center;
    }

    .header__intro {
        margin-top: 10vh;
        margin-bottom: 5vh;

    }

    .button {
        display: inline-block;
        border-radius: 0.5rem;
        padding: 0.75em 2em;
        text-decoration: none;
    }

    .button--light {
        background-color: var(--secondary-color);
        color: var(--text-color);
    }

    .button--product {
        background-color: var(--primary-color);
        text-decoration: none;
        color: var(--secondary-color);
        font-weight: bold;
    }

    .product__name {
        font-weight: bold;
    }

    .heading {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    .info-block {
        margin: 1em 0;
        padding: 1rem;
        border: 3px solid var(--primary-color);
    }

    .items-block {
        margin: 2rem 0;
    }

    .items-list__item {
        margin: 1rem 0;
    }

    .specification {
        text-align: center;
    }

    .card {
        display: inline-block;
        vertical-align: top;
        margin: 0 3.75rem 0 0;
        width: 17.5em;
    }
}